<div class="main">
    <h2>Number of Todo's :</h2>
    <h3>Overdue :  <%=overdueTodos.length%></h3>
    <h3>DueToday : <%=dueTodayTodos.length%> </h3>
    <h3>DueLater : <%=dueLaterTodos.length%></h3>
  </div>
